<script type="text/javascript">
  
  const constrainNumber = (num, min , max) =>  {
    
    let _num = Math.min(num, max);
        _num = Math.max(_num, min);
    
    return _num;
    
  }

  
  window.addEventListener("load", e => {
    
    const nav = document.getElementById("navigation");
    const navHandle = document.getElementById("navigationHandle");
    
    let pos = [0,0,0,0];

    const checkScreensize = e => {

      let screenSize = "desktop";

      const w = window.innerWidth;
     
      const body = document.querySelector("body");
            body.classList.remove("tablet", "mobile");
      
      if(w <= 600){
        screenSize = "mobile";
        body.classList.add("mobile");
        nav.style.left = "";
        nav.style.top = "";
        document.onmouseup = null;
        document.onmousemove = null;
        navHandle.onmousedown = null;
      }else if(w <= 1200){
        nav.style.left = "";
        nav.style.top = "";
        screenSize = "tablet";
        body.classList.add("tablet");
        document.onmouseup = null;
        document.onmousemove = null; 
        navHandle.onmousedown = null;
      }  else {
        navHandle.onmousedown = startDragNav;
      }
      return screenSize;
    }
    
   const setInitialPos = () => {

    let xPos = 0;
    let yPos = 0;
    let screenSize = checkScreensize();

    if(screenSize == "desktop"){
      xPos = localStorage.getItem("xPos") || 200;
      yPos = localStorage.getItem("yPos") || 400;
    } else {
      return;
    }
     
    document.documentElement.style.setProperty('--yPos', yPos + "px");
    document.documentElement.style.setProperty('--xPos', xPos + "px");
    
  } 
    
    const setPosNavAfterEvent = e => {
      let xPos, yPos = 0;

      let screenSize = checkScreensize();

      if(screenSize != "desktop") return;

      if(e.type == "resize"){
        xPos = nav.offsetLeft;
        yPos = nav.offsetTop;
      } else if(e.type == "storage"){
        xPos = localStorage.getItem("xPos") || 0;
        yPos = localStorage.getItem("yPos") || 0;
      }
     
      setPosNav(xPos, yPos);
    }

    const setPosNav = ( xPos, yPos) => {

      let dim = [nav.offsetWidth, nav.offsetHeight, window.innerWidth, window.innerHeight];

      xPos = constrainNumber(xPos, 0, dim[2] - dim[0])
      yPos = constrainNumber(yPos, 0, dim[3] - dim[1])
      
      let xPosStr  = `${xPos}px`;
      let yPosStr  = `${yPos}px`;
      
      nav.style.left  = xPosStr;
      nav.style.top   = yPosStr;
      
      localStorage.setItem("xPos", xPos);
      localStorage.setItem("yPos", yPos);
    
    }
    
    const dragNav = e => {
      
      e.preventDefault();

      let dx = e.clientX;
      let dy = e.clientY;

      pos[0] = pos[2] - dx;
      pos[1] = pos[3] - dy;
      pos[2] = dx;
      pos[3] = dy;
      
      let newX = nav.offsetLeft - pos[0];
      let newY = nav.offsetTop - pos[1];
            
      setPosNav(newX, newY);
      
    }
    const startDragNav = e => {
      e.preventDefault();

      pos[2] = e.clientX;
      pos[3] = e.clientY;
      
      document.onmousemove = dragNav; 
      document.onmouseup   = stopDragNav;


    }
    const stopDragNav = e => {
      e.preventDefault();
      document.onmouseup = null;
      document.onmousemove = null;  

    }


    window.addEventListener('resize', setPosNavAfterEvent);
    window.addEventListener('resize', checkScreensize);
    window.addEventListener('storage',setPosNavAfterEvent);

    setInitialPos();
    navHandle.onmousedown = startDragNav;

    const mainNavItemsGroup = document.querySelector("#mainNavItems");
    const navLinks = mainNavItemsGroup.querySelectorAll("a");
    
    navLinks.forEach(navLink => {
      navLink.addEventListener("click", async e => {

        e.preventDefault();

        let link = e.target.href || e.target.closest('a').href;
        let newHeader = e.target.dataset.pagetitle || e.target.closest('a').dataset.pagetitle;

        headerRandomizer.setNewString(newHeader);

        let page = link.split("/").pop() || "home";
        if (page == "empty") {
          subheaderRandomizer.setNewString()
        } else {
          subheaderRandomizer.setNewString(" ");
        }

        const main = document.querySelector("main");
        const response = await fetch(link);
        const content = await response.text();
        const parser = new DOMParser();
        const html = parser.parseFromString(content, "text/html");
        const body = html.querySelector("body").innerHTML;

        main.innerHTML = body;
        switchTheme(page);


      })
    })


  })
  

</script>

<style>

  #navigation{
    font-family: "PPNeuebit", _sansserif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    image-rendering: pixelated;
    text-transform: uppercase;
    -webkit-user-select: none;
   
    position: fixed;
    left: var(--xPos);
    top: var(--yPos);
    padding: 4px;
    width: 250px;

    
    background-color: var(--c-charcoal);
    color: var(--c-white);
    border: 1px solid var(--c-black);
    outline: 1px solid var(--c-charcoal);
    border-radius: 6px;
   
    z-index: 999;
    box-shadow: 0px 5px 15px rgba(0,0,0,.2), 
                inset 1px 1px 0px var(--c-poppy);
    transition: box-shadow .25s, transform .25s;
    
  }
  #navigation:hover{
    transform: translateY(-2px);
    box-shadow: 0px 20px 50px rgba(0,0,0,.2),
                inset 1px 1px 0px var(--c-poppy);
  }

  #navigationHandle{
    padding: 2px 0;
  }
  #navigationHandle hr{
    border: 1px solid var(--c-black);
    box-shadow: 0px 1px 0px var(--c-poppy);
    width: calc(100% - 8px);
    margin: 4px;
    transition: all .5s;
  }
    #navigationHandle:hover hr{
        border: 1px solid var(--c-purple);
        box-shadow: 0px 0px 4px var(--c-purple);
    }
  .insetFrame{
    box-shadow: inset 0px 2px 4px rgba(0,0,0,.5),  1px 1px 0px var(--c-poppy);
    margin: 6px 2px;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid var(--c-black);
  }
  .buttonFrame{
    box-shadow: 0px 2px 4px rgba(0,0,0,.5), inset 1px 1px 0px var(--c-poppy);
    padding: 4px;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid var(--c-black);
    transition: all .5s;
  }
  .buttonFrame:hover{
    box-shadow: 0px 2px 4px rgba(0,0,0,.5), inset 1px 1px 0px var(--c-poppy);
    padding: 4px;
    border-radius: 4px;
    overflow: hidden;
    background-color: var(--c-poppy) ;
  }
  #navigation a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    border-bottom: 1px solid var(--c-black);
    box-shadow: inset 0px 1px 0px var(--c-poppy);
    font-size: 1em;
    transition: all .25s;
    overflow: hidden;
  }
  #navigation a:first-child{
    box-shadow: none;

  }
  .navItemIcon{
    padding: 6px;
    overflow: hidden;
    margin-right: 2px;
    transition: all .25s;
    text-align: center;
    opacity: .5;
  }
   .navItemIcon img{
    image-rendering: pixelated;
    width: 24px;
    height: 24px;
   }

  #navigation a:hover{
    background-color: var(--c-black);
    color: var(--c-white);
    box-shadow: inset 0px -1px 6px black;

  }
  #navigation a:hover .navItemIcon{
    margin-left: 0;
/*    margin-right: 4px;*/
    opacity: 1;
  }
  #navigation a:active{
    background-color: var(--c-purple);
  }
  #navigation a:last-child{
    border-bottom: none;
  }

  #navigationHandle:hover{
    text-shadow: 0px 1px 0px rgba(0,0,0,1);
    cursor: grab;
  }
  #navigationHandle:active{
    cursor: grabbing;
    color: transparent;
  }
  #navigationLogo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    gap: 12px;
    text-align: left;
    line-height: .8em;
    color: var(--c-slate);
    background-color: var(--c-black);
  }
   #navigationLogo img{
    width: 80px;
    height: auto;
    margin-bottom: .25em;
   }
   #secondaryNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 2px;
    box-shadow: inset 0px 2px 4px rgba(0,0,0,.5),  1px 1px 0px var(--c-poppy);
    margin: 2px;
    padding: 2px;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid var(--c-black);
   }
   .secondaryNavIcon{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 2px;
   }

@media only screen and (min-width: 900px) and (max-width: 1200px) {
  #navigation{
    left: 20px;
    top: 20px;
    display: flex;
    flex-direction: row;
    width: calc(100vw - 40px);
    height: 80px;
  }
  #navigation:hover{
    transform: none;
    box-shadow: inherit;
  }
  #navigationHandle{
    display: none;
  }
  #navigationLogo{
    width: 200px;
    flex-direction: row-reverse;
  }
  #mainNavItems{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    background-color: var(--c-charcoal);
  }
  #mainNavItems a{
    flex-grow: 1;
    border-bottom: none;
    border-right: 1px solid var(--c-black);
    box-shadow: inset 1px 0px 0px var(--c-poppy);
    display: flex;
    justify-content: center;
    align-items: center;

  }
  #navigationLogo img{
    height: 30px;
    width: auto;
  }
  #secondaryNav div{
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #secondaryNav .buttonLabel{
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  #navigation{
    left: 20px;
    top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 40px);
    height: 52px;
  }
  #navigation:hover{
    transform: none;
    box-shadow: inherit;
  }
  #navigationHandle{
    display: none;
  }
  #navigationLogo{
    height: 40px;
    flex-direction: row-reverse;
    justify-content: center;
  }
  #navigationLogo img{
    height: 20px;
    width: auto;
  }
  #navigationLogo span{
    display: none;
  }
  #mainNavItems{
    height: 40px;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    background-color: var(--c-charcoal);
  }
  #mainNavItems a{
    flex-grow: 1;
    border-bottom: none;
    border-right: 1px solid var(--c-black);
    box-shadow: inset 1px 0px 0px var(--c-poppy);
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  #secondaryNav{
    height: 42px;
  }
  #secondaryNav div{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .buttonLabel{
    display: none;
  }
}


</style>

<nav id="navigation">
  <div id="navigationHandle">
    <hr><hr>
  </div>
 <div id="navigationLogo" class="insetFrame">
    <span>Marcel Schouwenaar Design</span>
    <img src="{{ './images/ms.svg' | url }}">
  </div>
  <div id="mainNavItems" class="insetFrame">
    <a data-pagetitle="Marcel Schouwenaar" href="./empty" target="mainframe">
      <span class="navItemIcon"><img src="{{ './images/i-home.svg' | url }}"></span>
      <span class="buttonLabel">Home</span>
    </a>
    <a data-pagetitle="About" href="./about" target="mainframe">
      <span class="navItemIcon"><img src="{{ './images/i-about.svg' | url }}"></span>
      <span class="buttonLabel">About</span>
    </a>
    <a data-pagetitle="Projects" href="./projects" target="mainframe">
      <span class="navItemIcon"><img src="{{ './images/i-projects.svg' | url }}"></span>
      <span class="buttonLabel">Projects</span>
    </a>
    <a data-pagetitle="Writing" href="./writing" target="mainframe">
      <span class="navItemIcon"><img src="{{ './images/i-writing.svg' | url }}"></span>
      <span class="buttonLabel">Writing</span>
    </a>
    <a data-pagetitle="Contact" href="./contact" target="mainframe">
      <span class="navItemIcon"><img src="{{ './images/i-contact.svg' | url }}"></span>
      <span class="buttonLabel">Contact</span>
    </a>
  </div>
  <div id="secondaryNav" class="insetFrame">
        <div class="secondaryNavIcon buttonFrame"><img src="{{ './images/i-linkedin.svg' | url }}"><span class="buttonLabel"> connect</span></div>
        <div class="secondaryNavIcon buttonFrame"><img src="{{ './images/i-coffee.svg' | url }}"><span class="buttonLabel"> coffee</span></div>
  </div>
 
 
  

</nav>