<script type="text/javascript">
  
  const constrainNumber = (num, min , max) =>  {
    
    let _num = Math.min(num, max);
        _num = Math.max(_num, min);
    
    return _num;
    
  }
   const setInitialPos = () => {

    let xPos = localStorage.getItem("xPos") || 200;
    let yPos = localStorage.getItem("yPos") || 400;
     
    document.documentElement.style.setProperty('--yPos', yPos + "px");
    document.documentElement.style.setProperty('--xPos', xPos + "px");
  } 
  
  window.addEventListener("load", e => {
    
    const nav = document.getElementById("navigation");
    const navHandle = document.getElementById("navigationHandle");
    
    let pos = [0,0,0,0];
    
   
    const setPosNavAfterEvent = e => {
      
      let xPos, yPos = 0;
      console.log(e.type);
      if(e.type == "resize"){
        xPos = nav.offsetLeft;
        yPos = nav.offsetTop;
      }
      if(e.type == "storage"){
        xPos = localStorage.getItem("xPos") || 0;
        yPos = localStorage.getItem("yPos") || 0;
      }
     
      setPosNav(xPos, yPos);
    }

    const setPosNav = ( xPos, yPos) => {
             
      let dim = [nav.offsetWidth, nav.offsetHeight, window.innerWidth, window.innerHeight];

      xPos = constrainNumber(xPos, 0, dim[2] - dim[0])
      yPos = constrainNumber(yPos, 0, dim[3] - dim[1])
      
      let xPosStr  = `${xPos}px`;
      let yPosStr  = `${yPos}px`;
      
      nav.style.left  = xPosStr;
      nav.style.top   = yPosStr;
      
      localStorage.setItem("xPos", xPos);
      localStorage.setItem("yPos", yPos);
    
    }
    
    const dragNav = e => {
      
      e.preventDefault();

      
      pos[0] = pos[2] - e.clientX;
      pos[1] = pos[3] - e.clientY;
      pos[2] = e.clientX;
      pos[3] = e.clientY;
      
      let newX = nav.offsetLeft - pos[0];
      let newY = nav.offsetTop - pos[1];
            
      setPosNav(newX, newY);
      
    }
    const startDragNav = e => {
      e.preventDefault();

      pos[2] = e.clientX;
      pos[3] = e.clientY;
      
      document.onmousemove = dragNav; 
      document.onmouseup   = stopDragNav;

    }
    const stopDragNav = e => {
      e.preventDefault();
      document.onmouseup = null;
      document.onmousemove = null;  
    }

    setInitialPos();
    navHandle.onmousedown = startDragNav;

    window.addEventListener('resize', setPosNavAfterEvent);
    window.addEventListener('storage',setPosNavAfterEvent);

    const mainNavItemsGroup = document.querySelector("#mainNavItems");
    const navLinks = mainNavItemsGroup.querySelectorAll("a");
    
    navLinks.forEach(navLink => {
      navLink.addEventListener("click", e => {

        let link = e.target.href || e.target.closest('a').href;
        let newHeader = e.target.dataset.pagetitle || e.target.closest('a').dataset.pagetitle;


        headerRandomizer.setNewString(newHeader);

        let page = link.split("/").pop() || "home";
        if (page == "empty") {
            subheaderRandomizer.setNewString()
        } else {
          subheaderRandomizer.setNewString(" ");
        }
        switchTheme(page);

      })
    })


  })
  

</script>

<style>

  #navigation{
    font-family: "PPNeuebit", _sansserif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    image-rendering: pixelated;
    text-transform: uppercase;
/*    font-smooth: never;*/
/*    -webkit-font-smoothing : none;*/
    -webkit-user-select: none;
   
    position: fixed;
    left: var(--xPos);
    top: var(--yPos);
    padding: 4px;
    min-width: 220px;

    
    background-color: var(--c-charcoal);
    color: var(--c-white);
    border: 1px solid var(--c-black);
    outline: 1px solid var(--c-charcoal);
    border-radius: 6px;
   
    z-index: 999;
    box-shadow: 0px 5px 15px rgba(0,0,0,.2), 
                inset 1px 1px 0px var(--c-poppy);
    transition: box-shadow .25s, transform .25s;
    
  }
  #navigation:hover{
    transform: translateY(-2px);
    box-shadow: 0px 20px 50px rgba(0,0,0,.2),
                inset 1px 1px 0px var(--c-poppy);

  }

  #navigationHandle{
    padding: 2px 0;
  }
  #navigationHandle hr{
    border: 1px solid var(--c-black);
    box-shadow: 0px 1px 0px var(--c-poppy);
    width: calc(100% - 8px);
    margin: 4px;
    transition: all .5s;
  }
    #navigationHandle:hover hr{
        border: 1px solid var(--c-purple);
        box-shadow: 0px 0px 4px var(--c-purple);
    }
  .insetFrame{
    box-shadow: inset 0px 2px 4px rgba(0,0,0,.5),  1px 1px 0px var(--c-poppy);
    margin: 6px 2px;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid var(--c-black);
  }
  .buttonFrame{
    box-shadow: 0px 2px 4px rgba(0,0,0,.5), inset 1px 1px 0px var(--c-poppy);
    padding: 4px;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid var(--c-black);
    transition: all .5s;
  }
  .buttonFrame:hover{
    box-shadow: 0px 2px 4px rgba(0,0,0,.5), inset 1px 1px 0px var(--c-poppy);
    padding: 4px;
    border-radius: 4px;
    overflow: hidden;
    background-color: var(--c-poppy) ;
  }
  #mainNavItems{
    
  }
  #navigation a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    border-bottom: 1px solid var(--c-black);
    box-shadow: inset 0px 1px 0px var(--c-poppy);
    font-size: 1em;
    transition: all .25s;
    overflow: hidden;
  }
  #navigation a:first-child{
    box-shadow: none;

  }
  .navItemIcon{
    padding: 6px;
    overflow: hidden;
    margin-right: 2px;
    transition: all .25s;
    text-align: center;
    opacity: .5;
  }
   .navItemIcon img{
    image-rendering: pixelated;
    width: 24px;
    height: 24px;
   }

  #navigation a:hover{
    background-color: var(--c-black);
    color: var(--c-white);
    box-shadow: inset 0px -1px 6px black;

  }
  #navigation a:hover .navItemIcon{
    margin-left: 0;
    margin-right: 4px;
    opacity: 1;
  }
  #navigation a:active{
    background-color: var(--c-purple);
  }
  #navigation a:last-child{
    border-bottom: none;
  }

  #navigationHandle:hover{
    text-shadow: 0px 1px 0px rgba(0,0,0,1);
    cursor: grab;
  }
  #navigationHandle:active{
    cursor: grabbing;
    color: transparent;
  }
  #navigationLogo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    gap: 12px;
    text-align: left;
    line-height: .8em;
    color: var(--c-slate);
    background-color: var(--c-black);
  }
   #navigationLogo img{
    width: 80px;
    height: auto;
    margin-bottom: .25em;
   }
   #secondaryNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 2px;
    box-shadow: inset 0px 2px 4px rgba(0,0,0,.5),  1px 1px 0px var(--c-poppy);
    margin: 2px;
    padding: 2px;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid var(--c-black);
   }
   .secondaryNavIcon{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 2px;
   }

</style>

<nav id="navigation">
  <div id="navigationHandle">
    <hr><hr>
  </div>
 <div id="navigationLogo" class="insetFrame">
    <span>Marcel<br>Schouwenaar<br>Design</span>
    <img src="{{ './images/ms.svg' | url }}">

  </div>
  <div id="mainNavItems" class="insetFrame">
    <a data-pagetitle="Marcel Schouwenaar" href="/empty" target="mainframe"><span class="navItemIcon"><img src="{{ './images/i-home.svg' | url }}"></span>Home</a>
    <a data-pagetitle="About" href="/about" target="mainframe"><span class="navItemIcon"><img src="{{ './images/i-about.svg' | url }}"></span>About</a>
    <a data-pagetitle="Projects" href="/projects" target="mainframe"><span class="navItemIcon"><img src="{{ './images/i-projects.svg' | url }}"></span>Projects</a>
    <a data-pagetitle="Writing" href="/writing" target="mainframe"><span class="navItemIcon"><img src="{{ './images/i-writing.svg' | url }}"></span>Writing</a>
    <a data-pagetitle="Contact" href="/contact" target="mainframe"><span class="navItemIcon"><img src="{{ './images/i-contact.svg' | url }}"></span>Contact</a>
  </div>
  <div id="secondaryNav" class="insetFrame">
        <span class="secondaryNavIcon buttonFrame"><img src="{{ './images/i-linkedin.svg' | url }}"> connect</span>
        <span class="secondaryNavIcon buttonFrame"><img src="{{ './images/i-coffee.svg' | url }}"> coffee</span>
  </div>
 
 
  

</nav>