:root{

	--font-size: 24px;
	--body-padding: 40px;
	--area-padding: 40px;
	--area-radius: 20px;
	--button-radius: 10px;
	--highlight-color: #EFBCD5;

	--c-purple: #7C5CE1;
	--c-pink: #EFBEEB;
	--c-coral: #E8555F;
	--c-yellow: #FEFB54;
	--c-neongreen: #C3FB50;
	--c-green: #6ACD4F;
	--c-darkgreen: #41754D;
	--c-orange: #F19737;
	--c-cyan: #4FADF5;
	--c-lilac: #7697E6;
	--c-brown: #AA8052;
	--c-white: #FBFBFB;
	--c-slate: #B1B1B1;
	--c-charcoal: #29282E;
	--c-black: #141319;
	--c-poppy: #494752;
}

html{
	font-family: "PPRadioGrotesk", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body{
	padding: var(--body-padding);	
	margin: 0;
	scroll-behavior: smooth;

	font-size: var(--font-size);
	text-rendering: geometricPrecision;
	color: var(--c-charcoal);

}
.mobile{
}
.tablet{
}
.home{
	display: flex;
	flex-direction: row;
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
}


header{
	flex-grow: 1;
	display: flex;
	width: 50vw;
	justify-content: space-between;
	flex-direction: column;
	padding: var(--area-padding);
}
main {
	width: 50vw;
	flex-grow: 1;

}
main iframe{
	height: 100%;
	width: 100%;
	overflow: hidden;
	border: none;
}
h1, h2, h3, h4{
	font-family: "PPNeueBit";
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: normal;
	padding: 0;
	margin: 0;
}
h1	{ 
	font-size: 72px; 
	line-height: 48px; 
	font-weight: normal;
	transition: all 1s;
	transition-delay: 1.5s;
};
h2	{ 
	font-size: 64px; 
	border-bottom: 2px solid var(--c-charcoal); 
};
h3	{ 
	font-size: 48px;
}
h4	{ font-size: 1em };
p 	{ font-size: 1em; line-height: 1.2em};

a {
	color: var(--c-orange);
}
a:hover{
	color: var(--c-coral);
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
	:root{
	 --area-padding: 20px;
	}
  .home{
  	left: 0px;
  	top: 100px;
  	flex-direction: row;
  	height: calc(100vh - 100px);
  }
  header > div{
  	display: none;
  }
  main{
  	flex-grow: 1;
  }
}

@media only screen and (max-width: 600px) {
	:root{
	 --area-padding: 20px;
	}
  .home{
  	top: 80px;
  	flex-direction: column;
  	height: calc(100vh - 80px);
  }
  h1{
  	font-size: 64px;
  	line-height: 54px;
  }
  header{
  	height: 60px;
  	width: 100%;
  	flex-grow: 0;
  	text-align: center;
  }
  main{
  	flex-grow: 1;
  	width: 100%;
  }
  header > div{
  	display: none;
  }
  .subheader{
  	display: none;
  }
}











