<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Marcel Schouwenaar</title>
	
	<link rel="stylesheet" type="text/css" href="{{ './style/reset.css' | url }}">
	<link rel="stylesheet" type="text/css" href="{{ './style/font.css' | url }}">
	<link rel="stylesheet" type="text/css" href="{{ './style/style.css' | url }}">

	<script type="text/javascript" src="{{ './js/rndm.js' | url }}"></script>

	<script type="text/javascript">

		let defaultSubtitle;
		let subheaderRandomizer;
		let headerRandomizer;

		function decryptEmail(encoded) {
			let address = atob(encoded);
			window.location.href = "mailto:" + address;
		}

		const docReady = e =>{
			let subheader = document.querySelector("#subheader");
			let header = document.querySelector("#header");

			defaultSubtitle = subheader.innerHTML;
			subheaderRandomizer = new Randomizer(subheader, 20);
			headerRandomizer = new Randomizer(header, 4);
		}
		
		document.addEventListener("DOMContentLoaded",docReady);

	</script>

</head>
<body>
	{% include 'components/nav.html' %}
	{% include 'components/logo.html' %}
	<div class='home'>
		<header>
			<h1>
				<strong id="header">{{ title }}</strong> 
				<span id="subheader">{{ subheader }}</span>
			</h1>
			<footer>
				<p id="">{{ content | safe }}</p>
			</footer>
			
		</header>
		<main>
		</main>
	</div>
</body>
</html>